// $fz-80: calc(25px + (80 - 25) * ((100vw - 320px) / (1770 - 320)));
$fz-80: calc(25px + (80 - 25) * ((100vw - 320px) / 1450));
$fz-18: calc(8px + (18 - 8) * ((100vw - 320px) / 1450));
$fz-14: calc(8px + (14 - 8) * ((100vw - 320px) / 1450));
$fz-44: calc(15px + (44 - 15) * ((100vw - 320px) / 1450));
$fz-22: calc(11px + (22 - 11) * ((100vw - 320px) / 1450));

$padding-r-l: calc(15px + (450 - 15) * ((100vw - 320px) / 1450));
$padding_nav: calc(5px + (215 - 5) * ((100vw - 320px) / 1450));
$padding-w-top: calc(15px + (90 - 15) * ((100vw - 320px) / 1450));
$padd-btn-top: calc(9px + (18 - 9) * ((100vw - 320px) / 1450));
$padd-btn-r-l: calc(15px + (41 - 15) * ((100vw - 320px) / 1450));
